.card {
  box-shadow: 0 0 35px 0 rgba(#9aa1ab ,.15);
  border: none;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
    color: #6c757d;
    .card-title {
      margin-top: 0;
      margin-bottom: .75rem;
      font-size: 1.2rem;
      font-weight: 300;
    }
    p {
      &.card-text {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: .875rem;
        font-weight: 300;
      }
    }
  }

  &.card-product {
    .card-body {
      height: 15.8rem;
      .card-title {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        height: 4.8rem;
        span {
          display: block;
          &.product-title {
            align-self: flex-start !important;
            // padding-right: 1rem;
          }
          &.product-price{
            align-self: flex-start !important;
            justify-content: space-between !important;
            align-items: center !important;
            padding-left: 1rem;
            font-size: 1rem;
            display: flex;
            span {
              align-self: flex-start !important;
              margin-top: 1rem;
              &:first-child {
                padding-right: .4rem;
              }
            }
          }
        }
      }
    }
  }
}
