main {
  width: auto;
  margin: 0 !important;
  padding-top: 4.4rem;
  // background-color: rgba($gray-100, .6);
  background-color: #fafbfe;
  min-height: 40vw;
}
.main-container {
  margin-top: 80px;
  min-height: 50vh;
  max-height: 100%;
}
