.navbar-top {
  padding-left: 4rem !important;
  padding-right: 4rem !important;

  nav {
    a {
      text-decoration: none;
      transition: all .3s ease-in-out;
      border-bottom: .2rem solid transparent;

      &:hover, &.active {
        color: $gray-600 !important;
        border-bottom: .2rem solid $gray-400;
      }
      &.active {
        color: $gray-900 !important;
      }
    }
  }
}
