// ===========
// PADDING
// ===========
.no-padding {
  padding: 0 !important;
}
.pt-1-rem { padding-top: 1rem !important; }
.pt-2-rem { padding-top: 2rem !important; }
.pt-3-rem { padding-top: 3rem !important; }
.pt-4-rem { padding-top: 4rem !important; }
.pt-5-rem { padding-top: 5rem !important; }

.pb-1-rem { padding-bottom: 1rem !important; }
.pb-2-rem { padding-bottom: 2rem !important; }
.pb-3-rem { padding-bottom: 3rem !important; }
.pb-4-rem { padding-bottom: 4rem !important; }
.pb-5-rem { padding-bottom: 5rem !important; }

.pl-0-1-rem { padding-left: .1rem !important; }
.pl-0-2-rem { padding-left: .2rem !important; }
.pl-0-3-rem { padding-left: .3rem !important; }
.pl-0-4-rem { padding-left: .4rem !important; }
.pl-0-5-rem { padding-left: .5rem !important; }
.pl-0-6-rem { padding-left: .6rem !important; }
.pl-0-7-rem { padding-left: .7rem !important; }
.pl-0-8-rem { padding-left: .8rem !important; }
.pl-0-9-rem { padding-left: .9rem !important; }
.pl-1-rem { padding-left: 1rem !important; }
.pl-2-rem { padding-left: 2rem !important; }
.pl-3-rem { padding-left: 3rem !important; }
.pl-4-rem { padding-left: 4rem !important; }
.pl-5-rem { padding-left: 5rem !important; }

.pr-0-1-rem { padding-right: .1rem !important; }
.pr-0-2-rem { padding-right: .2rem !important; }
.pr-0-3-rem { padding-right: .3rem !important; }
.pr-0-4-rem { padding-right: .4rem !important; }
.pr-0-5-rem { padding-right: .5rem !important; }
.pr-0-6-rem { padding-right: .6rem !important; }
.pr-0-7-rem { padding-right: .7rem !important; }
.pr-0-8-rem { padding-right: .8rem !important; }
.pr-0-9-rem { padding-right: .9rem !important; }
.pr-1-rem { padding-right: 1rem !important; }
.pr-2-rem { padding-right: 2rem !important; }
.pr-3-rem { padding-right: 3rem !important; }
.pr-4-rem { padding-right: 4rem !important; }
.pr-5-rem { padding-right: 5rem !important; }


// ===========
// MARGIN
// ===========
.no-margin {
  margin: 0 !important;
}

.mt-1-rem { margin-top: 1rem !important; }
.mt-2-rem { margin-top: 2rem !important; }
.mt-3-rem { margin-top: 3rem !important; }
.mt-4-rem { margin-top: 4rem !important; }
.mt-5-rem { margin-top: 5rem !important; }

.mb-1-rem { margin-bottom: 1rem !important; }
.mb-2-rem { margin-bottom: 2rem !important; }
.mb-3-rem { margin-bottom: 3rem !important; }
.mb-4-rem { margin-bottom: 4rem !important; }
.mb-5-rem { margin-bottom: 5rem !important; }

.ml-1-rem { margin-left: 1rem !important; }
.ml-2-rem { margin-left: 2rem !important; }
.ml-3-rem { margin-left: 3rem !important; }
.ml-4-rem { margin-left: 4rem !important; }
.ml-5-rem { margin-left: 5rem !important; }

.mr-1-rem { margin-right: 1rem !important; }
.mr-2-rem { margin-right: 2rem !important; }
.mr-3-rem { margin-right: 3rem !important; }
.mr-4-rem { margin-right: 4rem !important; }
.mr-5-rem { margin-right: 5rem !important; }


// ===========
// HEIGHT
// ===========
.h-rem-2 { height: 2rem; }
.h-rem-3 { height: 3rem; }
.h-rem-4 { height: 4rem; }
.h-rem-5 { height: 5rem; }
.h-rem-6 { height: 6rem; }
.h-rem-8 { height: 8rem; }
.h-rem-9 { height: 9rem; }
.h-rem-10 { height: 10rem; }
.h-rem-11 { height: 11rem; }
.h-rem-12 { height: 12rem; }
.h-rem-13 { height: 13rem; }
.h-rem-14 { height: 14rem; }
.h-rem-15 { height: 15rem; }
.h-rem-16 { height: 16rem; }
.h-rem-17 { height: 17rem; }
.h-rem-18 { height: 18rem; }
.h-rem-19 { height: 19rem; }
.h-rem-20 { height: 20rem; }

// ===========
// WIDTH
// ===========
.w-rem-2 { width: 2rem; }
.w-rem-3 { width: 3rem; }
.w-rem-4 { width: 4rem; }
.w-rem-5 { width: 5rem; }
.w-rem-6 { width: 6rem; }
.w-rem-8 { width: 8rem; }
.w-rem-9 { width: 9rem; }
.w-rem-10 { width: 10rem; }
.w-rem-11 { width: 11rem; }
.w-rem-12 { width: 12rem; }
.w-rem-13 { width: 13rem; }
.w-rem-14 { width: 14rem; }
.w-rem-15 { width: 15rem; }
.w-rem-16 { width: 16rem; }
.w-rem-17 { width: 17rem; }
.w-rem-18 { width: 18rem; }
.w-rem-19 { width: 19rem; }
.w-rem-20 { width: 20rem; }
